<style>
 body {
  
      background-color:#DFF5FF;
    }

.order-items-container {
  display: flex;
  flex-wrap: wrap;
}


.order-item-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 30rem;
  height:10rem;
}

.order-item-card h3 {
  margin-top: 0;
}

.order-item-card p {
  margin: 8px 0;
}
h3{
    color:#00215E;
}
.prescription-image {
  height: 300px;
  width: 300px;
}

.ps-div{
    display:flex;
    color:#00215E;
   
    font-size:2rem;
    flex-direction:column;
}

</style>

<div>
  <% if @order_items.first.order.prescription.attached? %>
    <div class="ps-div"> 
         <span>Prescription</span>
          <%= image_tag @order_items.first.order.prescription, class: "prescription-image" %>
    </div>
   
  <% else %>
    <span>There is No Prescription</span>
  <% end %>
</div>

<div class="order-items-container">
  <% @order_items.each do |order_item| %>
    <div class="order-item-card">
      <h3>Medicine Name : <%= order_item.medicine.name %></h3>
      <p>Quantity: <%= order_item.quantity %></p>
      <p>Price: <%= order_item.price %>. Rs</p>
       <p>Dosage: <%= order_item.medicine.dosage %>mg</p>
    </div>
  <% end %>
</div>
