<%= stylesheet_link_tag "track_order" %>

<div>

  <% check_prescription_exists(@order_items) do %>
    <div class="ps-div"> 
         <span>Prescription</span>
          <%= image_tag @order_items.first.order.prescription, class: "prescription-image" %>
    </div>
  <% end %>

   <% check_prescription_not_exists(@order_items) do %>
   <span>There is No Prescription</span>
  <% end %>


</div>

<div class="order-items-container">
  <% @order_items.each do |order_item| %>
    <div class="order-item-card">
      <h3>Medicine Name : <%= order_item.medicine.name %></h3>
      <p>Quantity: <%= order_item.quantity %></p>
      <p>Price: <%= order_item.price %>. Rs</p>
       <p>Dosage: <%= order_item.medicine.dosage %>mg</p>
    </div>
  <% end %>
</div>
