 <tr>
        <td><%= image_tag medicine.medicine_picture.attached? ? medicine.medicine_picture : 'avatars/default_avatar.png', class: "avatar-image" %></td>
        <td><%= medicine.name %></td>
        <td><%= medicine.description %></td>
        <td><%= medicine.dosage %></td>
        <td><%= medicine.price %></td>
        <td><%= medicine.need_prescription ? "Yes" : "No" %></td>
        <td><%= medicine.quantity %></td>      
<td>
  <button type="button" class="edit-button btn btn-info" data-medicine-quantity="<%= medicine.quantity %>" data-medicine-id="<%= medicine.id %>" data-medicine-price="<%= medicine.price %>" data-medicine-name="<%= medicine.name %>" data-medicine-description="<%= medicine.description %>" data-medicine-dosage="<%= medicine.dosage %>" >Edit</button>
</td>
        <td><%= button_to "Delete", medicine_path(medicine), method: :delete, class: "delete-button btn btn-info", data: { med: medicine }%></td>
<tr>