<div class="container d-flex justify-content-center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation novalidate w-50 border p-2 " }) do |f| %>
    <div class="text-center">
            <h5 class="card-title text-center" style="color:#392AB1; font-weight: bold; font-size: 24px;">Sign Up</h5>
    </div>
    
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="form-group mb-3">
      <label for="name" class="form-label"><i class="fas fa-user"></i> Name</label>
      <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name", required: true %>
    </div>

    <div class="form-group mb-3">
      <label for="phone_number" class="form-label"><i class="fas fa-phone"></i> Phone Number</label>
      <%= f.text_field :phone_number, class: "form-control", autocomplete: "phone_number" %>
    </div>

    <div class="form-group mb-3">
      <label for="email" class="form-label"><i class="fas fa-envelope"></i> Email</label>
      <%= f.email_field :email, class: "form-control", autocomplete: "email", required: true %>
    </div>

    <div class="form-group mb-3">
      <label for="password" class="form-label"><i class="fas fa-lock"></i> Password</label>
      <%= f.password_field :password, class: "form-control", autocomplete: "new-password", required: true %>
    </div>

    <div class="form-group mb-3">
      <label for="password_confirmation" class="form-label"><i class="fas fa-lock"></i> Confirm Password</label>
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", required: true %>
    </div>

    <%= f.fields_for :patient do |patient_form| %>
      <div class="form-group mb-3">
        <label for="dob" class="form-label"><i class="fas fa-calendar-alt"></i> Date of Birth</label>
        <%= patient_form.date_field :dob, class: "form-control", max: Date.today, autocomplete: "dob", required: true %>
      </div>

      <div class="form-group mb-3">
        <label for="gender" class="form-label"><i class="fas fa-venus-mars"></i> Gender</label>
        <%= patient_form.select :gender, options_for_select(Patient.genders.keys.map { |key| [key.capitalize, key] }), { include_blank: "Select Gender" }, class: "form-control", autocomplete: "gender", required: true %>
      </div>

      <div class="form-group mb-3">
        <label for="blood_type" class="form-label"><i class="fas fa-tint"></i> Blood Type</label>
        <%= patient_form.select :blood_type, options_for_select(Patient.blood_types.keys.map { |key| [key, key] }), { include_blank: "Select Blood Type" }, class: "form-control", autocomplete: "blood_type", required: true %>
      </div>
    <% end %>

    <div class="form-group mb-3">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>
</div>
