<%= stylesheet_link_tag "sidebar" %>
<div class="sidebar  d-flex flex-column justify-content-between h-100">
  <ul class="nav nav-pills flex-column mb-auto">
         <% if current_user && current_user.patient? %>
            <%= render partial: "patients/sidebar" %>
            <%elsif current_user && current_user.doctor? %>
            <%= render partial: "doctors/sidebar" %>
            <%elsif current_user && current_user.admin? %>
            <%= render partial: "admin/sidebar" %>
          <% else %>
      
                 <li class="nav-item">
      <%= link_to "About Us", root_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Contact", root_path, class: "nav-link text-light" %>
    </li>
          <% end %>
  </ul>
</div>