<%= form_with(url: doctors_path, method: :patch, remote: true , id: "edit_form") do |f| %>
  <div class="form-group">
    <%= f.label :avatar, "Doctor Photo", class: "form-control-label" %>
    <%= f.file_field :avatar, class: "form-control-file", id: "doctor_picture" %>
  </div>

  <div class="form-group">
    <%= f.label :name, "Name", class: "form-control-label" %>
    <%= f.text_field :name, class: "form-control", id: "doctor_name" %>
  </div>
  
  <div class="form-group">
    <%= f.label :email, "Email", class: "form-control-label" %>
    <%= f.email_field :email, class: "form-control", id: "doctor_email" %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number, "Phone Number", class: "form-control-label" %>
    <%= f.text_field :phone_number, class: "form-control", id: "doctor_phone_number" %>
  </div>

  <div class="form-group">
    <%= f.label :years_of_experiance, "Years of Experience", class: "form-control-label" %>
    <%= f.text_field :years_of_experiance, class: "form-control", id: "doctor_years_of_experience" %>
  </div>

  <div class="form-group">
    <%= f.label :consultation_fee, "Consultation Fee", class: "form-control-label" %>
    <%= f.text_field :consultation_fee, class: "form-control", id: "doctor_consultation_fee" %>
  </div>

  
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary", id: "submit-btn" %>
  </div>

<% end %>
