<style>
  .img-custom {
    height: 200px;
    width: 200px;
  }
</style>


<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Dosage</th>
      <th>Price</th>
      <th>Prescription Needed</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @medicines.each do |med| %>
      <tr>
        <td><%= image_tag med.image.attached? ? url_for(med.image) : 'avatars/default_avatar.png', class: "img-custom" %></td>
        <td><%= med.name %></td>
        <td><%= med.description %></td>
        <td><%= med.dosage %></td>
        <td><%= med.price %></td>
        <td><%= med.need_prescription %></td>
        <td>
          <div class="quantity-counter">
            <button class="decrement">-</button>
            <span class="quantity">
            <% if current_user.patient.cart.present? %>
           <% if @all_cart_items.find_by(medicine_id: med.id).present? %>
<%= @all_cart_items.find_by(medicine_id: med.id).quantity %>
<%else%>
0
<%end%>       

<%else%>
 0
<%end%>
            </span>
            <button class="increment" data-med-quantity="<%= med.quantity %>">+</button>
          </div>
        </td>
        <td><%= button_to "ADD", root_path, method: :get, class: "add-button btn btn-info", data: { med: med.id }%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function() {
    $('.add-button').click(function(event) {
      event.preventDefault();
      const medId = $(this).data('med');
      const quantity = $(this).closest('tr').find('.quantity').text();
      
      medicineData = {
        medicine_id: medId,
        medicine_quantity:quantity,
      }
      console.log(medicineData);

      $.ajax({
            url: `http://localhost:3000/cart_items`,
            method: "POST",
            data: medicineData, 
            dataType: "html",
            success: function (result) { 
              console.log(result) 
               $("#count").html(result)
            },
        });
      
    });

     $('.quantity-counter .increment').click(function() {
           var currentQuantity = parseInt($(this).siblings('.quantity').text());
           var maxQuantity = parseInt($(this).data('med-quantity')); 
           if (currentQuantity < maxQuantity) {
           $(this).siblings('.quantity').text(currentQuantity + 1);
           }
    });



    $('.quantity-counter .decrement').click(function() {
      var currentQuantity = parseInt($(this).siblings('.quantity').text());
      if (currentQuantity > 0) {
        $(this).siblings('.quantity').text(currentQuantity - 1);
      }
    });
  });
</script>
