<%= stylesheet_link_tag "all_doctors" %>

<%= search_form_for @q do |f| %>
  <div class="search-container container w-50">
  <i class="fas fa-search" style="font-size:2rem;color:#211C6A;"></i>
    <%= f.search_field :user_name_or_specialization_name_cont ,placeholder: "Search doctor / specialization ...", class: "searchbar" %>
    <div class="dropdown specialization-dropdown">
      <button class="btn dropdown-toggle" type="button" id="specializationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style= "background-color: #52D3D8; border:none; height:3rem;">
        Specialization
      </button>
      <div class="dropdown-menu" aria-labelledby="specializationDropdown">
        <% @specializations.each do |specialization| %>
          <label class="dropdown-item">
            <%= check_box_tag "q[specialization_id_in][]", specialization.id, class: "specialization-checkbox", style: "transform: scale(1.5);" %>
            <%= specialization.name %>
          </label>
        <% end %>
      </div>
    </div>

    <%= sort_link(@q, :rating, class: "mx-3 btn" , style: "background-color: #52D3D8;height:3rem;width:10rem;padding:10px;") %>
    <%= f.submit "Search", class: "btn submit-btn" ,style: "background-color: #52D3D8;height:3rem;" %>
  </div>
<% end %>


<div class="doctor-cards-container">
    <% @doctors.each do |doc| %>
     <%= render partial:"patients/each_doctor" , locals:{doc:doc}%>
    <% end %>
</div>
