<style>
  .img-custom {
    height: 200px;
    width: 200px;
  }
</style>

<%= javascript_include_tag "quantity_selector" %>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Dosage</th>
      <th>Price</th>
      <th>Prescription Needed</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @medicines.each do |med| %>
      <tr>
        <td><%= image_tag med.image.attached? ? url_for(med.image) : 'avatars/default_avatar.png', class: "img-custom" %></td>
        <td><%= med.name %></td>
        <td><%= med.description %></td>
        <td><%= med.dosage %></td>
        <td><%= med.price %></td>
        <td><%= med.need_prescription %></td>
        <td>
          <div class="quantity-counter">
            <button class="decrement">-</button>
            <span class="quantity">1
            </span>
            <button class="increment" data-med-quantity="<%= med.quantity %>">+</button>
          </div>
        </td>
        <td><%= button_to "ADD", root_path, method: :get, class: "add-button btn btn-info", data: { med: med.id }%></td>
      </tr>
    <% end %>
  </tbody>
</table>