<%= stylesheet_link_tag "all_doctors" %>

<%= search_form_for @q do |f| %>
  <div class="search-container">
    <%= f.search_field :user_name_or_specialization_name_cont ,placeholder: "Search Doctor / Speacilization ", class: "searchbar" %>

    <div class="dropdown specialization-dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="specializationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Specialization
      </button>
      <div class="dropdown-menu" aria-labelledby="specializationDropdown">
        <% @specializations.each do |specialization| %>
          <label class="dropdown-item">
            <%= check_box_tag "q[specialization_id_in][]", specialization.id, class: "specialization-checkbox", style: "transform: scale(1.5);" %>
            <%= specialization.name %>
          </label>
        <% end %>
      </div>
    </div>

    <%= sort_link(@q, :rating, class: "m-1 btn btn-primary") %>
    <%= f.submit "Search", class: "btn btn-success submit-btn" %>
  </div>
<% end %>


<div class="doctor-cards-container">
    <% @doctors.each do |doc| %>
     <%= render partial:"patients/each_doctor" , locals:{doc:doc}%>
    <% end %>
</div>
