<div class="doctor-card">
        <div class="avatar-container">
          <%= image_tag medicine.medicine_picture.attached? ? medicine.medicine_picture : 'avatars/default_avatar.png', class: "doctor-image" %>
        </div>
        <div class="info-container">
          <h3><%= medicine.name %></h3>
          <p><%= medicine.description %></p>
          <div class="ratings-and-fee">
            <span class="dosage">
              <%= medicine.dosage %> mg
            </span>
            <span class="consultation-fee">
              <i class="fas fa-rupee-sign"></i> <%= medicine.price %>
            </span>
          </div>
          <% if medicine.quantity < 1 %>
            <button class="btn btn-warning btn-block disabled">Out of stock</button>
          <% else %>
            <% if if_medicine_exist(medicine.id) %>
              <button class="btn btn-success btn-block disabled">Added to cart</button>
            <% else %>
              <%= button_to "Add to Cart", order_items_path, method: :post, class: "add-button btn btn-info btn-block", params: { medicine_id: medicine.id, price: medicine.price } %>
            <% end %>
          <% end %>
        </div>
      </div>