<style>
    .appointment-container {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
      background-color: #f9f9f9;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width:50%;
    }

    .doctor-image {
      width: 10rem;
      height: 10rem;
      margin-bottom: 10px;
    }

    .doctor-info {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .status {
      font-weight: bold;
      font-size: 16px;
    }

    .status.scheduled {
      color: blue;
    }

    .status.completed {
      color: green;
    }
  </style>
 <div class="appointment-container">
    <h1>Medicare Appointment</h1>
    <%= image_tag(User.find(Doctor.find(appointment.doctor_id).user_id).avatar.attached? ? User.find(Doctor.find(appointment.doctor_id).user_id).avatar : 'avatars/default_avatar.png', class: "doctor-image") %>
    <div class="doctor-info">
      Doctor: <%= User.find(appointment.doctor.user_id).name %>
    </div>
    <div class="doctor-info">
      Slot Time: <%= Time.strptime(appointment.slot_time, "%Y-%m-%d %H:%M:%S %z").strftime("%A, %B %d, %Y , %I:%M %p") %>
    </div>
    <div class="doctor-info">
      Reason: <%= appointment.reason %>
    </div>
    <div class="status <%= appointment.status.downcase %>">
      Status: <%= appointment.status %>
    </div>
  </div>
