<style>

.img-custom{
    height:200px;
    width:200px;
}

</style>
<tr>
        <td><%= image_tag med.image.attached? ? med.image : 'avatars/default_avatar.png', class:"img-custom" %></td>
        <td><%= med.name %></td>
        <td><%= med.description %></td>
        <td><%= med.dosage %></td>
        <td><%= med.price %></td>
        <td><%= med.need_prescription %></td>
        <td>
          <button data-medicine-id="<%= med.id %>" class="btn btn-success add-to-cart-btn">Add to cart</button>
        </td>
</tr>