     <li class="nav-item">
      <%= link_to "Find Doctor", patients_path,method: :get,class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Appointments", appointment_path(current_user.patient.id), class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Buy Medicine", medicines_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Order", root_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Cart", cart_items_path, class: "nav-link text-light" %>
    </li>
       <li id="count">
         <%= "0" %>
  </li>