<%= stylesheet_link_tag "patient_page" %>

<li class="nav-item">
  <%= link_to doctors_path, method: :get, class: "nav-link text-light" do %>
    <i class="fass fas fa-user-md"></i> <span>Find Doctor</span>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to appointments_path, class: "nav-link text-light" do %>
    <i class="fass fas fa-calendar-alt"></i> <span>Appointments</span>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to medicines_path, class: "nav-link text-light" do %>
    <i class="fass fas fa-pills"></i> <span>Buy Medicine</span>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to orders_path, class: "nav-link text-light" do %>
    <i class="fass fas fa-clock-rotate-left"></i> <span>Order</span>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to order_items_path, class: "nav-link text-light position-relative" do %>
    <i class="fass fas fa-shopping-cart"></i> <span>Cart</span>
    <span class="badge bg-danger position-absolute top-0 start-100 translate-middle" id="cart-count">
      <%= get_cart_items_count %>
    </span>
  <% end %>
</li>
