     <li class="nav-item">
      <%= link_to "Find Doctor", doctors_path,method: :get,class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Appointments", appointments_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Buy Medicine", medicines_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Order", root_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Cart", cart_items_path, class: "nav-link text-light" %>
    </li>
       <li id="count">
       <% if @all_cart_items.present? %>
         <%= @all_cart_items.count %>
         <%else%>
         0
         <%end%>
  </li>