     <li class="nav-item">
      <%= link_to "Find Doctor", patients_path,method: :get,class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Appointments", appointment_path(current_user.patient.id), class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Buy Medicine", root_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Order", root_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "Cart", root_path, class: "nav-link text-light" %>
    </li>