<div class="row">
  <div class="col text-center">
    <h4 class="mb-3">Morning Slots</h4>
    <% morning_slots = @available_slots.select { |slot| slot.hour < 12 } %>
    <% morning_slots.each do |slot| %>
      <button type="button" class="btn btn-info m-1 px-3 slot-button" data-slot-time="<%= slot %>" data-doctor-id="<%= @doctor.id %>" data-toggle="modal" data-target="#confirmationModal">
        <%= slot.strftime("%I:%M %p") %>
      </button>
    <% end %>
  </div>
  <div class="col text-center">
    <h4 class="mb-3">Afternoon Slots</h4>
    <% afternoon_slots = @available_slots.select { |slot| slot.hour >= 12 && slot.hour < 17 } %>
    <% afternoon_slots.each do |slot| %>
      <button type="button" class="btn btn-info m-1 px-3 slot-button" data-slot-time="<%= slot %>" data-doctor-id="<%= @doctor.id %>" data-toggle="modal" data-target="#confirmationModal">
        <%= slot.strftime("%I:%M %p") %>
      </button>
    <% end %>
  </div>
  <div class="col text-center">
    <h4 class="mb-3">Evening Slots</h4>
    <% evening_slots = @available_slots.select { |slot| slot.hour >= 17 } %>
    <% evening_slots.each do |slot| %>
      <button type="button" class="btn btn-info m-1 px-3 slot-button" data-slot-time="<%= slot %>" data-doctor-id="<%= @doctor.id %>" data-toggle="modal" data-target="#confirmationModal">
        <%= slot.strftime("%I:%M %p") %>
      </button>
    <% end %>
  </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirm Appointment</h5>
      </div>
      <div class="modal-body">
        <p>Please enter a brief reason for your appointment at <span id="selected-slot"></span>:</p>
        <%= form_with(url: appointments_path, method: :post,id:"appointment_confirmation_form") do |f| %>
          <div class="field">
            <%= f.label :reason %>
            <%= f.text_area :reason, rows: 5 ,id: "appointmentReason"%>
          </div>
          <!-- Add hidden fields to store slot time and doctor id -->
          <%= f.hidden_field :slot_time, id: "slot-time-field" %>
          <%= f.hidden_field :doctor_id, id: "doctor-id-field", value: @doctor.id %>
          
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Cancel</button>
            <%= f.submit "Confirm", "data-bs-dismiss": "modal" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>

$(document).ready(function() {
  $('.slot-button').click(function() {
    var slotTime = $(this).data('slotTime');
    $('#slot-time-field').val(slotTime);
    $('#selected-slot').text(slotTime); 
    $('#appointmentReason').val(''); 
    $("#confirmationModal .close").click();
    });
  });


</script>