<style>
  .doctor-profile {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .doctor-image {
    height: 20rem;
    width: 20rem;
    margin-right: 2rem;
    border-radius: 50%;
  }

  .details {
    flex: 1;
  }

  .details h2 {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
  }

  .details p {
    margin-bottom: 0.5rem;
    font-size: 1rem; 
  }

  .details i {
    margin-right: 0.5rem;
    color: #333; 
  }

  .details i.fas.fa-star {
    color: #f1c40f; 
  }

  @media (max-width: 768px) {
    .doctor-profile {
      flex-direction: column;
      align-items: center;
    }

    .doctor-image {
      margin-bottom: 1rem;
    }
  }
</style>

<div class="doctor-profile">
  <div>
    <%= image_tag User.find(@doctor.user_id).avatar.attached? ? User.find(@doctor.user_id).avatar : 'avatars/default_avatar.png', class: "doctor-image" %>
  </div>
  <div class="details">
    <h2><%= User.find(@doctor.user_id).name %></h2>
    <p><i class="fas fa-star"></i> Rating: <%= @doctor.rating %></p>
    <p><i class="fas fa-briefcase"></i> Specialization: <%= @doctor.specialization.name %></p>
    <p><i class="fas fa-money-bill-alt"></i> Consultation Fee: <%= @doctor.consultation_fee %></p>
    <p><i class="fas fa-user-clock"></i> Years of Experience: <%= @doctor.years_of_experiance %></p>
  </div>
</div>

<h3>Available slots </h3>

<button id="today-btn" class="btn btn-outline-success" data-patient-id=<%= current_user.patient.id%>  data-doctor-id=<%= @doctor.id%>><%= @formatted_dates[0]%></button>
<button id="tomo-btn" class="btn btn-outline-success"  data-patient-id=<%= current_user.patient.id%>  data-doctor-id=<%= @doctor.id%> ><%= @formatted_dates[1]%></button>
<button id="nextday-btn" class="btn btn-outline-success" data-patient-id=<%= current_user.patient.id%>  data-doctor-id=<%= @doctor.id%> ><%= @formatted_dates[2]%></button>
<div id="current_slots">
      <%= render partial: "slots_display"%>
  </div>

  <script>
$(document).ready(function () {
   
  $("#today-btn").on("click", function (e) {

    const date = new Date();
    let day = date.getDate();

    const p_id = $(e.target).attr("data-patient-id");
    const d_id = $(e.target).attr("data-doctor-id");
  
    $.ajax({
      url: `http://localhost:3000/patients/${p_id}/slot_display`,
      method: "POST",
      data: { selected_day: day, doctor_id: d_id },
      dataType: "html",
      success: function (result) {
      
        $("#current_slots").html(result);
      },
    });
  });

  $("#tomo-btn").on("click", function (e) {
    const date = new Date();
    let day = date.getDate() + 1;
    const p_id = $(e.target).attr("data-patient-id");
    const d_id = $(e.target).attr("data-doctor-id");
   
    $.ajax({
      url: `http://localhost:3000/patients/${p_id}/slot_display`,
      method: "POST",
      data: { selected_day: day, doctor_id: d_id },
      dataType: "html",
      success: function (result) {
        $("#current_slots").html(result);
      },
    });
  });

  $("#nextday-btn").on("click", function (e) {
    const date = new Date();
    let day = date.getDate() + 2;
    const p_id = $(e.target).attr("data-patient-id");
    const d_id = $(e.target).attr("data-doctor-id");
    
    $.ajax({
      url: `http://localhost:3000/patients/${p_id}/slot_display`,
      method: "POST",
      data: { selected_day: day, doctor_id: d_id },
      dataType: "html",
      success: function (result) {
        $("#current_slots").html(result);
      },
    });
  });
});


  </script>