<%=javascript_include_tag "slots_display.js"%>
<div class="doctor-info">
  <h1>DOCTOR</h1>
  <div class="doctor-details">
    <p>Name:<%= User.find_by(id: @doctor.user_id).name %></p>
    <p>Rating: <%= @doctor.rating %></p>
    <p>Consulation Fee: <%= @doctor.consultation_fee %></p>
    <p>Specialization: <%= @doctor.specialization.name %></p>
  </div>
  <br>
  <br>
  <h2>Available Slots</h2>
  <button id="today-btn" data-patient-id=<%= current_user.patient.id%>  data-doctor-id=<%= @doctor.id%>>Today</button>
  <button id="tomo-btn" data-patient-id=<%= current_user.patient.id%>  data-doctor-id=<%= @doctor.id%> >Tomorrow</button>
  <div id="current_slots">
    <!-- IMPLEMENT METHOD FUNCTION-->
     <%i=0%>
     <%@temp=[]%>
     <% while i < @slots.length%>
     <%if @slots[i].day == Time.now().day.to_i%>
      <% @temp<<@slots[i]%>
     <%end%>
     <% i+=1%>
      <%end%>
      <%= render partial: "slots_display"%>
  </div>
</div>
