<tr>    
        <td><%= image_tag doc.user.avatar.attached? ? doc.user.avatar : 'avatars/default_avatar.png', class: "avatar-image" %></td>
        <td><%= doc.user.name %></td>
        <td><%= doc.user.email %></td>
        <td><%= doc.specialization.name %></td>
        <td><%= doc.rating %></td>
        <td><%= doc.consultation_fee %></td>
        <td><%= doc.years_of_experiance %></td>
        <td><%= button_to "Edit",root_path,method: :get ,class: "edit-button btn btn-info",data: { doc: doc }%></td>
        <td><%= button_to "Delete",root_path ,method: :get,class: "delete-button btn btn-info",data: { doc: doc }%></td>
</tr>