<%= stylesheet_link_tag "doctor_show_page" %>
<%= javascript_include_tag "slots_handler" %>

<div class="doctor-profile">
  <div>
    <%= image_tag @doctor.user.avatar.attached? ? @doctor.user.avatar : 'avatars/default_avatar.png', class: "doctor-image" %>
  </div>
  <div class="details">
    <h2><%= @doctor.user.name %></h2>
    <p><i class="fas fa-star"></i> Rating: <%= @doctor.rating %></p>
    <p><i class="fas fa-briefcase"></i> Specialization: <%= @doctor.specialization.name %></p>
    <p><i class="fas fa-money-bill-alt"></i> Consultation Fee: <%= @doctor.consultation_fee %></p>
    <p><i class="fas fa-user-clock"></i> Years of Experience: <%= @doctor.years_of_experiance %></p>
  </div>
</div>
<h3>Available slots </h3>

<button id="today-btn" class="btn btn-outline-success active"   data-doctor-id=<%= @doctor.id%> ><%= @formatted_dates[0]%></button>
<button id="tomo-btn" class="btn btn-outline-success"    data-doctor-id=<%= @doctor.id%> ><%= @formatted_dates[1]%></button>
<button id="nextday-btn" class="btn btn-outline-success"  data-doctor-id=<%= @doctor.id%> ><%= @formatted_dates[2]%></button>
<div id="current_slots">
      <%= render partial: "patients/slots_display"%>
</div>
<script>
$(document).ready(function () {
  const buttons = document.querySelectorAll(".btn.btn-outline-success");
  buttons.forEach(button => {
    button.addEventListener("click", function() {
      buttons.forEach(otherButton => otherButton.classList.remove("active"));
      this.classList.add("active");
      updateSlotsContent(this.id);
    });
  });
});

</script>