<p>ALL CART ITEMS</p>
<% if current_user.patient.cart.present? %>
    <%arr=[]%>
    <% @all_cart_items.each do |item| %>
           <p>MEDICINE : <%= Medicine.find(item.medicine_id).name%></p>
            <p>PRICE : <%= Medicine.find(item.medicine_id).price%></p>
            <p> Quantity: <%= item.quantity%></p>
            <p> Need_prescription: <%= Medicine.find(item.medicine_id).need_prescription%></p>
          <p> TOtAL Price :<%= item.total_price%></p>
          <p> Remove Item :<%= button_to " REMOVE " ,cart_item_path(item.id),method: :delete,class:"btn btn-danger"%></p>
          <% if Medicine.find(item.medicine_id).need_prescription == true%>
          <% arr << Medicine.find(item.medicine_id).name%>
          <%end%>
          <br>
      <% end %>
 
<p>TOTAL PRICE TO PAY:</p>
<p>TAL CART PRICE :<%= @cart.total_price%></p>
<br><br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Place Order
</button> <br>
<%else%>
<%= "CART IS NOT Created! Add Items"%>
<%end%>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Checkout</h5>
       
      </div>
      <div class="modal-body">
    
       <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Add New Address
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <%= render partial:"address_form"%>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Select From Existing Address
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
             <% if current_user.patient.addresses.present?%>
<% current_user.patient.addresses.each do |ad| %>
<%= ad.country%> 
<%= ad.state%> 
<%= ad.city%> 
<%= ad.street%><br>
<%end%>
<%end%>
      </div>
    </div>
  </div>
         <% if arr.present?%>
         Upload Prescription for Medicines:
         <%= arr %> 
         <%= render partial:"prescription_form"%>
         <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submit-btn">Submit</button>
      </div>
    </div>
  </div>
</div>

<script>


$(document).ready(function () {
    $("#submit-btn").on("click", function (e) {
        e.preventDefault();
        
        console.log("clicked");
        
        address = {
          country:"India",
          state:"Karnataka",
          city:"Bangolre",
          street:"bellandur"
        }

        orderData ={
          addressData : address,   
        }
        
        $.ajax({
            url: `http://localhost:3000/medicines`,
            method: "POST",
            data: formData, 
            dataType: "html",
            processData: false, 
            contentType: false,
            success: function (result) {  
                
               console.log(result);
               $("#display-medicines-div").append(result);
                $("#medicine_form")[0].reset();
            },
        }); */
        
     });

    });
 
</script>