<form id="myForm">
  <div class="form-group">
    <label for="deliveryAddress">Select or Enter Delivery Address:</label>
    <select class="form-control" id="deliveryAddress">
      <% if active_user.patient.addresses %>
        <% active_user.patient.addresses.each do |address| %>
          <option value="<%= address.id %>">
            Country: <%= address.country %> - City: <%= address.city %> - Street: <%= address.street %>
          </option>
        <% end %>
      <% end %>
      <option value="new">Enter New Address</option>
    </select>
  </div>
  <div id="newAddressFields" style="display: none;">
    <div class="form-group">
      <label for="country">Country:</label>
      <input type="text" class="form-control" id="country" required>
    </div>
    <div class="form-group">
      <label for="state">State:</label>
      <input type="text" class="form-control" id="state" required>
    </div>
    <div class="form-group">
      <label for="city">City:</label>
      <input type="text" class="form-control" id="city" required>
    </div>
    <div class="form-group">
      <label for="street">Street:</label>
      <input type="text" class="form-control" id="street" required>
    </div>
  </div>
  <div class="form-group">
    <% medicines = check_need_prescription %>
    <% if medicines.count != 0 %>
      <br>
      Need Prescription for:
      <% medicines.each do |medicine| %>
        <%= medicine %>
      <% end %>
      <div class="form-group">
        <label for="prescription">Prescription:</label>
        <input type="file" class="form-control" id="prescription" required>
      </div>
    <% end %>
  </div>
  <button type="submit" id="submitButton" data-order-id = "<%= get_order_id%>">Submit Order</button>
</form>


