
<table>
  <thead>
    <tr>
      <th>Medicine</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
   <% if @order_items %>
    <% @order_items.each do |item| %>
      <tr>
        <td><%= item.medicine.name %></td>
        <td class="item-quantity"><%= item.quantity %></td>
        <td class="item-price"><%= item.price %></td>
                <td>
          <div class="quantity-counter">
            <button class="decrement" data-order-item-id="<%= item.id %>" data-med-price="<%= item.medicine.price %>" >-</button>
            <span class="quantity">
                <%= item.quantity%>
            </span>
            <button class="increment" data-med-quantity="<%= item.medicine.quantity %>" data-med-price="<%= item.medicine.price %>" data-order-item-id="<%= item.id %>" >+</button>
          </div>
        </td>
         <td>
        <button class="delete btn btn-danger" data-order-item-id="<%= item.id %>" >Remove</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
<hr>

   TOTAL PRICE = <span id="total_price"><%= get_cart_total(@order_items) %></span>
   <%= button_to "Place Order" ,root_path , method: :get ,class:"btn btn-info"%>
   <%else%>
   CART IS EMPTY
   <%end%>
<script>

$(document).ready(function () {

  $(".quantity-counter .increment").click(function () {
    var currentQuantity = parseInt($(this).siblings(".quantity").text());
    var maxQuantity = parseInt($(this).data("med-quantity"));
    var orderItemId = parseInt($(this).data("order-item-id"));
    var medPrice = parseInt($(this).data("med-price"));
    console.log(`Price - ${medPrice}`);
    console.log(`Increment - ${orderItemId}`);

    if (currentQuantity < maxQuantity) {
      $(this)
        .siblings(".quantity")
        .text(currentQuantity + 1);

        $(this)
          .closest("tr")
          .find(".item-quantity")
          .text(currentQuantity + 1);

          newPrice = parseInt($(this).siblings(".quantity").text()) * medPrice;
          console.log(`NEW PRICE AFTER INCREMNET ${newPrice}`);

          $(this)
          .closest("tr")
          .find(".item-price")
          .text(newPrice);


$.ajax({
  url: `http://localhost:3000/order_items/${orderItemId}`,
  method: "PATCH",
  data: { quantity: "increment"},
  dataType: "html",
  beforeSend: function (xhr) {
      xhr.setRequestHeader(
        "X-CSRF-Token",
        $('meta[name="csrf-token"]').attr("content")
      );
    },
  success: function (result) {
    console.log(result);
    $("#total_price").html(result);

  },
  error: function (xhr, status, error) {
    console.error(xhr.responseText); 
  }
});


      }
});


  $(".quantity-counter .decrement").click(function () {
    var currentQuantity = parseInt($(this).siblings(".quantity").text());
     var orderItemId = parseInt($(this).data("order-item-id"));
     var medPrice = parseInt($(this).data("med-price"));
     console.log(`Price - ${medPrice}`);
     console.log(`DECREMENT - ${orderItemId}`);

     updateData = {
          action: "decrement",
     }

    if (currentQuantity > 1) {
      $(this)
        .siblings(".quantity")
        .text(currentQuantity - 1);

         $(this)
          .closest("tr")
          .find(".item-quantity")
          .text(currentQuantity - 1);
        newPrice = parseInt($(this).siblings(".quantity").text()) * medPrice;
        console.log(`NEW PRICE AFTER INCREMNET ${newPrice}`);

        $(this)
          .closest("tr")
          .find(".item-price")
          .text(newPrice);

        //ajax call

        $.ajax({
  url: `http://localhost:3000/order_items/${orderItemId}`,
  method: "PATCH",
  data: { quantity: "decrement"},
  dataType: "html",
  beforeSend: function (xhr) {
      xhr.setRequestHeader(
        "X-CSRF-Token",
        $('meta[name="csrf-token"]').attr("content")
      );
    },
  success: function (result) {
    console.log(result);
  $("#total_price").html(result);
  },
  error: function (xhr, status, error) {
    console.error(xhr.responseText); 
  }
});
    }
    
  });



  $("button.delete").click(function () {

    var orderItemId = parseInt($(this).data("order-item-id"));
    console.log(orderItemId);
    var deleteButton = $(this);


$.ajax({
  url: `http://localhost:3000/order_items/${orderItemId}`,
  method: "DELETE",
  dataType: "html",
  beforeSend: function (xhr) {
      xhr.setRequestHeader(
        "X-CSRF-Token",
        $('meta[name="csrf-token"]').attr("content")
      );
    },
  success: function (result) {
    console.log("CART ITEM REMOVED");
    $("#total_price").html(result);
    var count = parseInt($("#count").text());
    ($("#count").text(count-1));
    deleteButton.closest("tr").remove();
  },
  error: function (xhr, status, error) {
    console.error(xhr.responseText); 
  }
});

});

});

</script>