  <%= javascript_include_tag "quantity_selector" %>
<%= stylesheet_link_tag "order_page" %>
  <div id="whole-page" class="container">
  <span id="display-div"></span>
  <div id="order-item-div">
    <% if @order_items && @order_items.count > 0 %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @order_items.each do |item| %>
            <tr>
              <td><%= item.medicine.name %></td>
              <td class="item-quantity"><%= item.quantity %></td>
              <td class="item-price"><%= item.price %>.Rs</td>
              <td>
                <div class="quantity-counter">
                  <button class="btn btn-secondary decrement" data-order-item-id="<%= item.id %>" data-med-price="<%= item.medicine.price %>">-</button>
                  <span class="quantity"><%= item.quantity %></span>
                  <button class="btn btn-secondary increment" data-med-quantity="<%= item.medicine.quantity %>" data-med-price="<%= item.medicine.price %>" data-order-item-id="<%= item.id %>">+</button>
                </div>
              </td>
              <td>
                <button class="btn btn-danger delete" data-order-item-id="<%= item.id %>">Remove</button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div id="checkout">
        <%= render partial: "place_order" %>
      </div>
    <% else %>
          <div>
            <h4>Cart is Empty</h4>
            <img src="https://cdni.iconscout.com/illustration/free/thumb/free-empty-cart-4085814-3385483.png?f=webp",alt="cart is empty">
         </div>
    <% end %>
  </div>
  </div>
