  <div class="header">
      <div class="appointment-time"><%= formatted_string = Time.strptime(appointment.slot_time, "%Y-%m-%d %H:%M:%S %z").strftime("%A, %B %d, %Y , %H:%M %p") %></div>
      <div class="doctor">Doctor : <%= appointment.doctor.user.name %></div>
      <div class="status <%= appointment.status.downcase %>"><%= appointment.status %></div>
      <div class="actions">
        <%= button_to "View Details",appointment_path(appointment.id), method: :get,class: "btn btn-info #{(appointment.status == 'canceled' ? 'disabled' : '')}" %>
      </div>
  </div>