<!DOCTYPE html>
<html>
  <head>
    <title>Medicare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <%= csp_meta_tag %>
    
    <%= javascript_importmap_tags %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
    <style>
        .main-div{
          display:flex;
        }
        .left-div{
          width:15%; 
         
        }
        .right-div{
          margin-top:5rem;

                  }
      </style>
    </head>
  <body>
       <%=render "shared/navbar"%>
       <% if current_user && current_user.patient? %>
        <div class="main-div">
         <div class="left-div"><%= render "patients/test_siidebar"%></div>
       <% end %>
       <div class="right-div"><%= yield %></div>
       </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  </body>
</html>
